body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-image: url('back2.png'); /* Background color other than white */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #333; /* Foreground color other than black */
}

h1 {
    font-family: Bakso Sapi;
    font-size: 24pt; /* Larger font size for H1 */
    color: #e291c0; /* Blue color for H1 */
}

h2 {
    font-family: Bakso Sapi;
    font-size: 20pt; /* Slightly smaller font size for H2 */
    color: #555; /* Dark gray color for H2 */
}

p {
    font-size: 12pt; /* Font size for paragraphs */
    color: #666; /* Color for paragraphs */
    line-height: 1.5;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}



 


a:visited {
    color: #660066; /* Purple for visited links */
}

a:hover {
    color: #ff3300; /* Red for hover effect */
}

a:active {
    color: #003366; /* Dark blue for active state */
}

/* CSS Table Layout */
.main-container {
    display: table;
    width: 100%;
}
.text {
    display: table-row;
}

.text h2, .text p {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}


.links {
    display: table-row;
}

.links h2, .links p {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}




.topnav {
  background-color: transparent;
  font-family: Nugo Sans;
  

  

  
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e291c0;
  color: black;
  padding: 16px 16px;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}







/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    font-family: Nugo Sans;
    color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus  & active */
  .dropbtn:hover, .dropbtn:active, .dropbtn:focus {
    background-color: #e291c0;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
 
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #333;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e291c0;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



  /* submit button theme */
  .button {
    background-color: black;
    border: 10px rgb(7, 7, 7);
    font-family: Nugo Sans;
    font-size: 16px;
    cursor: pointer;
    color: white;
  }

  /* reset button theme */
  .reset {
    background-color: black;
    border: 10px rgb(7, 7, 7);
    font-family: Nugo Sans;
    font-size: 16px;
    cursor: pointer;
    color: white;

  }

  /* for the form layout */
  .containerForm{
    background-color: #f096b7;
    font-family: Nugo Sans;
    border: 10px rgb(7, 7, 7);
    font-size: 16px;
    cursor: pointer;
    color: black;
    width: 250px;
    margin: auto;
    

  }

  /* for the question options */
  input, div {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    font: 13px Nugo Sans;
  }

/* Footer Area */
footer {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: -30px;
  right: 20px;
}